<!DOCTYYPE html>
	<head>
	</head>
	<body>
		<!---once a user has registered they can log in via here---->
		<div class="span8">					
		<div class="topnav">
			<div class='reg'>							
			<a href="index.html">Home</a>
			</div>
		</div>
		</div>
		<form action="/login" method="POST">
			<div class='login'>
				<label class='control-label'>Username</label>
					<div class='controls'>
						<input type='text' placeholder='Enter your username' id='Username' required>
					</div>
				</div>
				<div class='login'>
				<label class='control-label'>password</label>
					<div class='controls'>
						<input type='password' placeholder='Enter your password' id='password' required>
					</div>
				</div>
				<div class='login'>
					<button type='submit' class='signupbtn'>sign In</button>
					<hr>
				</div>
				<p class='reset'>Recover your <a tabindex='4' href='#' title='Recover your username or password'>Username and Password</a></p>
			</div>
	</form>
	</body>
	</html>