<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="style.css">
<div class="span8">					
		<div class="topnav">
			<div class='reg'>							
			<a href="index.html">Home</a>
			</div>
			
		</div>
</div>
<h4 class="title"><span class="text"><h2><strong>User Registration</strong></h2></span></h4>
<section class="main-content">
	<div class="span1">						
<form action="/register" method="POST">
	
</div>
<div class='login' ID='login'>
	<label class='control-label'>Username</label>
	<div class='controls'>
	<input type='text' name='username' required\><br>
</div>
</div>
<div class='login' ID='login'>
	<label class='control-label'>EmailAdress</label>
	<div class='controls'>
	<input type='text' name='emailadress'required\><br>
</div>
</div>

<div class='login' ID='login'>
	<label class='control-label'>Password</label>
	<div class='controls'>
	<input type='password' value='hidden' name='password'required\><br>
</div>
</div>
<div class='login' ID='login'>
	<label class='control-label'>Repeat Password</label>
	<div class='controls'>
	<input type='password' value='hidden' name='repeatpassword' required\><br>
</div>
<div class="clearfix">
				<button type="submit" class="signupbtn">Sign Up</button>
				 <p class='reset'><a tabindex='4' href='login.html'action='/login'method='POST' title='you can sign in here if already have an account'>or you can sign in here </a></p>
								</div>
			</div>
</form>
</div>
</section>
</html>
